/* tui/tui.css */

#main_container {
    layout: horizontal;
    height: 100%;
}

#left_pane {
    width: 50%;
    height: 100%;
    border-right: solid white;
}

#right_pane {
    width: 50%;
    height: 100%;
}

#transcript_title, #llm_title {
    text-align: center;
    text-style: bold;
    padding: 1;
}

#transcript_display, #llm_display {
    padding: 1;
}
